<div class="container">
	<div class="row">
		<div class="col-md-12">

			<h2>How many people?</h2>



			<h3>Select your entres:</h3>
			<% @foods.each do |food| %>
				<% if food.category.name == "Entree" %>
					<%= food.name %>
					<%= food.price %>
				<% end %>
			<% end %>

			<h3>Select your Dessert:</h3>
			<% @foods.each do |food| %>
				<% if food.category.name == "Dessert" %>
					<%= food.name %>
				<% end %>
			<% end %>

			<h3>Select your sides:</h3>
			<% @foods.each do |food| %>
				<% if food.category.name == "Side" %>
					<%= food.name %>
				<% end %>
			<% end %>

		</div>
	</div>
</div>