/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.food-item {
    width: 70px;
    height: 70px;
    background: #efefef;
    display: inline-block;
    border-radius: 100%;
    line-height: 20px;
    text-align: center;
    transition: all ease .5s;
}
.food-item-active {
	background:#333;
}

#range {
  width: 180px;
  height: 4px;
  border: 0;
  border-radius: 100px;
  background: rgba(0,0,0,0.2);
  outline: none;
}
#range .ui-slider-handle {
  position: absolute;
  margin: -6px 0 0 -17px;
  border-radius: 100px;
  background: #158789;
  color: #158789;
  border: 0;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 34px;
  outline: none;
  cursor: pointer;
  font-size: 8px;
  font-weight: 800;
  text-decoration: none;
  transition: transform 0.1s ease;
}
#range .ui-slider-handle:hover,
#range .ui-slider-handle:focus {
  transform: scale(1.1);
}
#range .ui-slider-range {
  background: #69b6b5;
}
.cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.range-slider {
	position: relative;
    display: block;
    top: 0;
    margin-bottom: 40px;
}
.ui-slider-handle {
    font-size: 4rem;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: -4px;
  	color: #158789;
}